{# <h1>Welcome {{ email.toName }}!</h1> #}
{# <img src="{{ email.image('@images/google.png') }}" alt="Logo"> #}

<p>
	
	<br><br>
	{# <a href="{{ signedUrl|raw }}">Confirm my Email</a>. #}
		    
	{# {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}. #}
    {# <img src="{{ email.image('@assets/images/logo.png') }}" alt="Logo"><p>l1png</p>
	<img src="{{ email.image ('@assets/images/logo.svg') }}" alt="Logo"><p>l1png</p> #}
	{# <img src="{{ email.image('@images/logo.png') }}" alt="Imagen de ejemplo"><p>lpng</p>
	

</p>
    <p>Su correo se ha enviado correctamente, gracias por contactar con  
    Google 3D Aesthetic. No dejes de visitarnos en nuestro espacio en el metaverso.</p>
<p>
	Saludos.
</p> #}

{% block content %}
	<div class="container ">
		{% apply inline_css(source('@styles/email.css'))%}
		<row>
			<columns large="12" class="text-center">
				<h1>Welcome {{ email.toName }}!</h1>
				Su correo se ha enviado correctamente, gracias por contactar con  
    Google 3D Aesthetic. No dejes de visitarnos en nuestro espacio en el metaverso.</p>
			</columns>

		</row>
		<row>
			<columns large="6">
				<p>parece que funciona</p>
				<img src="{{ email.image('@images/logo.png') }}" alt="Imagen de ejemplo">
			</columns>
		</row>
		{% endapply %}
	</div>
{% endblock %}